<div class="section__content section__content--p30">
  <div class="container-fluid">
    <div class="row">

      <div class="col-lg-12">
      <div class="card" style="background-color: darkgray">
        <div class="card-header">
          <strong>View items</strong>
          <button type="reset" class="btn btn-primary btn-sm float-right" [routerLink]="['../../landing/additem']">
            Add Item
          </button>
        </div>


      </div>
    </div>


      <div class="col-lg-12" *ngFor="let item of itemList; let i = index">
        <div class="card">
          <mat-accordion>
            <mat-expansion-panel (opened)="item.panelOpenState = true"
                                 (closed)="item.panelOpenState = false">
              <mat-expansion-panel-header (click)="getItemNamesFromType(item.itemType, i)">
                <mat-panel-title>
                  {{item.itemType}}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p class="margin-l-10" *ngFor="let itemName of item.itemNameList">{{itemName.itemName}}<i class="fa-chevron-down pull-right"></i></p>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="copyright">
          <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
