<div class="row">
  <div class="loginimg col-6"><img class="img-responsive" src="assets/img/lgimg.png" alt="" class="float-left"></div>
  <div class="col-6">
    <div class="details">
      <h2>We manage your business</h2>
      <h5>Please fill your account details</h5>
      <div class="signtext row">
        <div class="col-md-3"><h4 [routerLinkActive]="['active']"><a [routerLink]="['../launch/signin']">Sign in</a></h4></div>
        <div class="col-md-3"><h4 [routerLinkActive]="['active']"><a [routerLink]="['../launch/register']">Sign up</a></h4></div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

