<div class="page-wrapper">
  <div class="page-content--bge5">
    <div class="container">
      <div class="login-wrap">
        <div class="login-content">
          <div class="login-form">
            <form [formGroup]="registrationForm"
                  (submit)="register(restaurant)">
              <div class="form-group">
                <label>Restaurant Name</label>
                <input class="au-input au-input--full"
                       type="text"
                       [(ngModel)]="restaurant.name"
                       formControlName="nameControl"
                       name="username"
                       placeholder="Username">
              </div>
              <div class="form-group">
                <label>Email Address / Phone Number</label>
                <input class="au-input au-input--full"
                       type="email"
                       name="email"
                       [(ngModel)]="restaurant.emailOrPhone"
                       formControlName="emailControl"
                       placeholder="Email">
              </div>
              <div class="form-group">
                <label>Password</label>
                <input class="au-input au-input--full"
                       type="password"
                       [(ngModel)]="restaurant.password"
                       formControlName="passwordControl"
                       name="password"
                       placeholder="Password">
              </div>
              <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">register</button>
            </form>
            <div class="register-link">
              <p>
                Already have account?
                <a [routerLink]="['']">Sign In</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
